#locationButton {
    left: 10px;
    right: auto !important;
}

.button img {
    padding-top: 5px;
}

#locationButton img, #locationRefresh img {
    padding-top: 2px;
}

#jqt ul li {
    background-color: #fff;
}

#map img {
    width: 100%;
    height: auto;
}

#map #loading {
    width: 16px;
    height: 16px;
}

img.loading {
    padding-right: 10px;
}

#followed_locations .button {
    right: 0;
    top: 0;
}

#followed_locations h2 {
    margin: 0 20px 0 0;
    float: left;
}

#followed_locations {
    width: 400px;
    position: relative;
}

#followed-locations-toolbar input {
    right: 0 !important;
}

#followed-locations-list {
    opacity: 0;
    display: none;
}

#followButton {
    right: 0;
    position: relative;
    bottom: auto !important;
}

#accuracy-indicator {
    width: 100px;
    height: 20px;
    border: 1px solid black;
    float: right;
}

#accuracy-indicator span {
    background-color: #ccc;
    display: block;
    width: 100%;
    height: 20px;
}

span.label { 
    padding-left: 10px;
    float:right; 
}